<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Brownie</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/static/styles/main.css">
  </head>
  <body>
    <div class="container">
      <figure>
        <figcaption id="header">I HAVE PARTICULAR SET OF SKILLS</figcaption>
        <img src="/static/images/liam.png" alt="Liam Says">
        <figcaption id="footer"></figcaption>
      </figure>
    </div>
  </body>
  <script src="/static/scripts/main.js"></script>
</html>